#spot-the-difference .btn.gradient-blue {
  background: url("../img/blue-bg.jpg") repeat-x;
  border: 1px solid #3b5b84; }
  #spot-the-difference .btn.gradient-blue:before {
    content: url("../img/blue-arr.png");
    margin-right: 10px;
    margin-top: 3px; }
#spot-the-difference .btn.gradient-grey {
  background: url("../img/grey-bg.jpg") repeat-x; }
  #spot-the-difference .btn.gradient-grey:before {
    background: url("../img/grey-arr.jpg") no-repeat;
    margin-right: 10px;
    margin-top: 3px; }
#spot-the-difference .page-bottom {
  width: 100%;
  height: 130px;
  padding: 10px 0; 
	background-color:black;
}
  #spot-the-difference .page-bottom .left {
    width: 55%;
    float: left; }
    #spot-the-difference .page-bottom .left .mini-logo {
      float: left;
      width: 150px;
      margin-right: 30px; }
      #spot-the-difference .page-bottom .left .mini-logo img {
        width: 160px;
        padding-left: 35px; }
    #spot-the-difference .page-bottom .left .mini-text {
      float: left;
      width: calc(100% - (189px + 30px));
      text-transform: uppercase;
      font-size: 1.5em;
      margin: 0;
      margin-top: 5px;
      line-height: 1;
      font-weight: 600; }
      #spot-the-difference .page-bottom .left .mini-text p {
        margin: inherit; }
  #spot-the-difference .page-bottom .right {
    width: 45%;
    float: left; }
    #spot-the-difference .page-bottom .right .player-info {
      width: 50%;
      float: left; }
      #spot-the-difference .page-bottom .right .player-info .level, #spot-the-difference .page-bottom .right .player-info .score {
        width: 100%;
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: 500; }
      #spot-the-difference .page-bottom .right .player-info .level {
        margin-bottom: 20px; }
        #spot-the-difference .page-bottom .right .player-info .level:before {
          content: "level:";
          margin-right: 5px; }
      #spot-the-difference .page-bottom .right .player-info .score:before {
        content: "score:";
        margin-right: 5px; }
    #spot-the-difference .page-bottom .right .timer {
      width: 50%;
      float: right;
      height: 88px; }
      #spot-the-difference .page-bottom .right .timer .clock {
        margin-right: 5px; }
    #spot-the-difference .page-bottom .right.last {
      display: none; }
		
#spot-the-difference .trophy-page {
  position: relative; }
  #spot-the-difference .trophy-page h1 {
    font-size: 3.5em;
    width: 85%;
    margin: 0 auto;
    display: block; }
  #spot-the-difference .trophy-page .trophy-area {
    width: 100%;
    margin: 0 auto; }
    #spot-the-difference .trophy-page .trophy-area img {
      width: 100%;
      height: 100%;
      border: 0; }
  #spot-the-difference .trophy-page .final-score {
    width: 100%;
    font-size: 2em;
    text-transform: uppercase; }
    #spot-the-difference .trophy-page .final-score .user-info {
      display: inline-block; }
    #spot-the-difference .trophy-page .final-score .user-score {
      width: 200px;
      height: 50px;
      border: 2px solid white; }
#spot-the-difference .leader-page .board-area {
  width: 100%;
  margin-bottom: 50px; }
  #spot-the-difference .leader-page .board-area .leaderboard {
    background: black;
    width: 80%;
    border-collapse: separate;
    border-spacing: 10px; }
    #spot-the-difference .leader-page .board-area .leaderboard tr th {
      font-size: 2em;
      text-transform: uppercase; }
    #spot-the-difference .leader-page .board-area .leaderboard tr .rank-head {
      width: 8%; }
    #spot-the-difference .leader-page .board-area .leaderboard tr .user-head {
      width: 50%;
      text-align: center; }
    #spot-the-difference .leader-page .board-area .leaderboard tr .pts-head {
      width: 20%;
      text-align: center; }
    #spot-the-difference .leader-page .board-area .leaderboard .player-standings {
      font-size: 1.7em;
      margin-top: 10px; }
      #spot-the-difference .leader-page .board-area .leaderboard .player-standings .tb-username,
      #spot-the-difference .leader-page .board-area .leaderboard .player-standings .tb-pts {
        background: #6f6f6f;
        padding-left: 50px; }
#spot-the-difference .end-page .score-box {
  width: 100%;
  font-size: 2em;
  text-transform: uppercase; }
  #spot-the-difference .end-page .score-box .user-info {
    display: inline-block; }
  #spot-the-difference .end-page .score-box .user-score {
    width: 200px;
    height: 50px;
    border: 2px solid white; }
#spot-the-difference .end-page .mini-img {
  position: relative;
  width: 100%; }
  #spot-the-difference .end-page .mini-img img {
    width: 100%; }
  #spot-the-difference .end-page .mini-img ul.actions {
    position: absolute;
    bottom: 30px; }
    #spot-the-difference .end-page .mini-img ul.actions li {
      list-style-type: none;
      float: left;
      width: 40%; }
		
  #spot-the-difference .item .quit {
    position: absolute;
    right: 0;
    top: 0; }